__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
data/submissions/*
!data/submissions/.gitkeep
.DS_Store
.ipynb_checkpoints/
.vscode/
.idea/
kaggle.json
.kaggle/